node_modules
.next
out
coverage
.env
.env.local
.env.*.local
*.log
.git
.github
.husky
.vscode
README.md
jest.config.*
eslint.config.*
playwright.config.*
playwright-report
test-results
.prettierrc
.prettierignore
__tests__
tests
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
