node_modules

# Build outputs
dist
.next
out

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Coverage & Test Reports
**/coverage
**/playwright-report
**/test-results

# Build Cache
**/.swc

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Sentry
.sentryclirc
